## CONFIGURATION
NODE_ENV=production
IP=0.0.0.0
PORT=4000
# CHANGE IF RUNNING TWO NODES IN SAME MACHINE!
EXTERNAL_PORT=81
## GATEWAY
#### Replace GTW_HOST by localhost if local mode
GTW_HOST="http://gateway"
GTW_PORT=8181
GTW_TIMEOUT=10000
#### Add your credentials below, obtain them in the Neighbourhood Manager
GTW_ID="{your-agid-here}"
GTW_PWD="{your-ap-password-here}"
## Persistance
#### Replace DB_HOST by localhost if local mode
# DB_TYPE= 'REDIS'
DB_HOST=cache-db
DB_PORT=6379
DB_CACHE_ENABLED="false"
DB_CACHE_TTL=60
## WoT repository
WOT_ENABLED="false"
WOT_HOST="http://wothive"
WOT_PORT=9000
#### Modes ["dummy", "proxy"(default), "semantic"]
ADAPTER_MODE=dummy
ADAPTER_HOST=http://adapter
ADAPTER_PORT=3001
